block header
    header
        nav
            a(href="/") EXPRESS SERVER
            ul
                li
                    a(href="/") Cargar
                li
                    a(href="/productos") Ver
    