<section class="formulario">
    <h2>CARGAR PRODUCTO</h2>
    <form method="post" action="/productos">
        <label>Título: <input type="text" name="title"></label>
        <label>Precio: <input type="text" name="price"></label>
        <label>Thumbnail URL: <input type="text" name="thumbnail"></label>
        <button>Enviar</button>
    </form>
</section>