<section class="productos">
    <h2>PRODUCTOS</h2>
    {{#if items}}
    <table>
        <tr>
            <th>TITULO</th>
            <th>PORTADA</th>
            <th>PRECIO</th>
        </tr>

        {{#each items}}
        <tr>
            <td>{{this.title}}</td>
            <td><img alt="item img" src="{{this.thumbnail}}" /></td>
            <td>${{this.price}} USD</td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <p>No hay productos cargados.</p>
    {{/if}}

</section>